---
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import {CanvasContainer as Boids} from "jdls-boids-canvas"

interface Project {
    id: string;
    title: string;
    link?: string;
    shortExcerpt: string;
    type?: string;
    component?: string;
    badgeContent?: string;
    logo?: string;
    post?: string;
}

export interface Props {
    projects: Project[];
}

const { projects } = Astro.props;
---

<CardGroup
    class="grid scroll-m-24 gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full p-4 mt-[-1rem]"
>
    {
        projects.map((project) => (
            <Card
                key={project.id}
                className="col-span-1"
                link={project.post}
                target="_blank"
                type={project.type ?? "bordered"}
            >
                {!!project.badgeContent && (
                    <div class="badge-group text-sm w-auto absolute mb-0 m-6 z-10">
                        <div class="badge-group--container w-auto items-center rounded-full border border-neutral-300 bg-white px-1 py-[2px] font-medium text-primary-500 inline-flex">
                            <div class="badge-group--message px-2">
                                {project.badgeContent}
                            </div>
                        </div>
                    </div>
                )}
               {project.component && <Boids 
                        client:only="react" class="z-0" avoid 
                        duration={120} highlight="pink" />}
                <CardBody>
                    {project.logo &&
                    <CardImage
                        src={project.logo}
                        alt="Articoole Banner"
                        imageClass="absolute top-0 right-0 m-6 p-4 bg-white rounded-3xl"
                        width={80}
                        height={80}
                    />}
                    <div class="card-content absolute bottom-8 left-6 right-6">
                        <CardHeader class="">
                            {project.title}
                        </CardHeader>
                        <div class="content break-words  text-2xl font-medium leading-10 tracking-tight lg:tracking-tighter text-neutral-50 ">
                            <p>{project.shortExcerpt}</p>
                        </div>
                    </div>
                </CardBody>
            </Card>
        ))
    }
</CardGroup> 