---
import { Icon } from 'astro-icon';

const {
  label = 'Toggle Menu',
  class:
    className = 'ml-1.5 text-zinc-600 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center transition',
  iconClass = 'h-5 w-5 ',
  iconName = 'tabler:globe',
} = Astro.props;
---

<button type="button" class={className} aria-label={label} data-aw-toggle-menu>
  <Icon name={iconName} class={iconClass} optimize={false} />
</button>
