---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SectionContainer from "@/components/SectionContainer.astro";
import SEO from "@/components/seo/SEO.astro";
import { Icon } from "astro-icon/components";
import { SOCIALS } from "@config";
import Header from "@/components/header/Header.astro";
import GridWrapper from "@/components/grid-wrapper/GridWrapper.astro"
import { Image } from "@astrojs/image/components";
import profileImage from "../../public/icons/avenue-icon-alt.png";
import Logo from '@/components/header/Logo.astro';

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;

// Check if we're on a blog post page
const isBlogPost = Astro.url.pathname.startsWith('/posts/');
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            title={title}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
          <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap" rel="stylesheet" />
    <link href="prism-material-dark.css" rel="stylesheet" />
    </head>
    <body class="bg-white">
        <div class="max-w-8xl mx-auto mt-12">
        <Header />
        <main class="pl-24">
            <div  class={`grid grid-cols-1 sm:grid-cols-4 max-w-8xl mx-auto ${className}`}>
                <span class="col-span-1 m-4">
                    <slot name="left-column">
                        {!isBlogPost && (
                            <div class="flex items-start gap-6">
                                <Logo class="h-12 w-12"/>
                                <div
                                    class="content text-lg md:text-xl font-medium tracking-tight lg:tracking-tighter text-neutral-500"
                                >
                                     I'm Jack, I make fun things on the internet and don't really write about them.
                                </div>
                            </div>
                        )}
                    </slot>
                </span>
                <div class="col-span-1 sm:col-span-3">    
                    <slot />
                </div>
            </div>
        </main>
        </div>
    </body>
</html>
<!-- fff6fe -->
<!-- E0FFE9 -->