---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import { Icon } from "astro-icon/components";
import { SITE } from "@config";
import { CollectionEntry } from "astro:content";
import PostList from "@/components/posts/PostList.astro";

export interface Props {
    posts: CollectionEntry<"post">[];
    title: string;
    tag: string;
}

const { posts, title, tag } = Astro.props;
---

<Layout
    title={`${title} - ${SITE.title}`}
    description={`A list of posts from ${SITE.author} in ${SITE.title}`}
>
      <div class="grid gap-16 md:gap-24 lg:gap-32">
        <SectionContainer class="blogs--container">
            <div class="flex flex-row my-4 items-center text-neutral-500">
                <h2 class="font-medium text-h4 mx-4 text-zinc-800 leading-8 tracking-tighter mb-0">
                    Tags: {tag}
                </h2>
            </div>

            <PostList posts={posts} />

            <nav
                class="pagination--container flex flex-wrap mx-auto justify-center mt-8 text-neutral-500"
                aria-label="Back to tags"
            >
                <a
                    href="/tags"
                    class="select-none flex flex-wrap"
                    aria-label="Back to tags"
                >
                    <Icon
                        name="ph:arrow-left-light"
                        class="w-6 h-6 mr-4"
                        optimize={false}
                    />
                    Back to all
                </a>
            </nav>
        </SectionContainer>
    </div>
</Layout>
